.cardBox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 18px;
	height: 100vh;
	width: 483px;
	background: url(../../Images/bg-main-desktop.png);
	gap: 37px;
}

.front {
	display: block;
	background: url(../../Images/bg-card-front.png);
	background-size: 100%;
	padding: 26px 32px;
	color: #fff;
	height: 245px;
	width: 447px;
	background-repeat: no-repeat;
	margin-right: -82%;
}
.img {
	margin-top: 2px;
}

h1 {
	margin: 64px 0px 26px 0px;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 0.12em;
}
.nameAndDate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	text-transform: uppercase;
	letter-spacing: 0.145em;
	font-size: 14px;
	font-weight: 400;
}

.back {
	display: block;
	background: url(../../Images/bg-card-back.png);
	background-size: 100%;
	padding: 26px 32px;
	color: #fff;
	height: 245px;
	width: 447px;
	background-repeat: no-repeat;
	position: relative;
	margin-right: -134%;
}

.cvc {
	position: absolute;
	top: 110px;
	right: 52px;
	letter-spacing: 0.145em;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}
@media screen and (max-width: 375px) {
	.cardBox {
		flex-direction: column;
		padding: 0px;
		height: 240px;
		width: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	.front {
		display: block;
		background-size: 100%;
		padding: 18px 20px;
		color: #fff;
		height: 157px;
		width: 286px;
		margin: 0;
		position: absolute;
		top: 126px;
		left: 220px;
		z-index: 1;
	}

	.img {
		margin-top: 2px;
		height: 30px;
		width: 56px;
	}
	h1 {
		margin: 40px 0px 17px 0px;
		font-size: 18px;
	}
	.nameAndDate {
		font-size: 9px;
	}
	.back {
		padding: 26px 32px;
		height: 157px;
		width: 286px;
		margin-right: 0;
		position: relative;
		top: -10px;
		left: 70px;
	}
	.cvc {
		top: 69px;
		right: 30px;
		font-size: 14px;
	}
}
